.ant-form-item {
  margin-bottom: 0;
}

.upperLabel {
  margin-top: 20px;
  text-transform: uppercase;
  color: #8999AC;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1.125px;
}

.loginInputItem {
  width: 360px;
  height: 50px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  max-height: 50px;
}

.inputItem {
  width: 329px;
  height: 41px;
  font-size: 15px;
  color: #333333;
  border-radius: 5px;
}

.loginFormItem {
  margin-top: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.formItem {
  line-height: 24px;
  letter-spacing: 0.15px;
  margin-top: 8px;
}

.LoginButtonItem {
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
  width: 360px;
  height: 58px;
  text-transform: uppercase;
  margin-top: 18px;
}

.buttonItem {
  margin-top: 20px;
  width: 329px;
  height: 41px;
  font-size: 15px;
  border-radius: 5px;
}

.ant-input-password .ant-input-suffix {
  display: flex;
  justify-content: center;
  align-items: center;
}
