.headerLogo {
    height: 56px;
}

.userName {
    color: #8999ac;
    font-size: 16px;
    line-height: 24px;
}

.search-block {
    display: flex;
    justify-content: center;
    align-items: center;
}
