.sidebar {
  width: 350px;
  padding: 0 16px;
}

.ant-tree {
  margin-left: 25px;
}

.ant-tree-node-content-wrapper, .ant-tree-node-content-wrapper-close {
  width: 150px;
}

.sidebarTitle {
  font-size: 16px;
  line-height: 24px;
  color: #8998AC;
  letter-spacing: 0.44px;
  padding: 25px 0;
}

.content {
  border: 1px solid #E5E5E5;
  border-left: none;
  border-right: none;
  padding: 15px 0;
}
.folders img {
  margin-right: 10px;
}
.sideBarMode {
  display: flex;
  font-size: 14px;
  color: #8998ac;
  font-weight: bold;
  cursor: pointer;
}

.shared {
  margin-top: 20px;
  margin-left: 35px;
  align-items: center;
}

.voting {
  margin-top: 10px;
  margin-left: 27px;
  align-items: center;
}

.folderWrapper {
  display: flex;
}

.folderImage {
  max-height: 25px;
}

.switcherIconRight {
  cursor: pointer;
}
