.modal-label{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.44px;
  color: #8998AC;
}

.modal-title{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 132%;
  text-align: center;
  color: #333333;
}


.modal-filename-title{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
/* identical to box height, or 143% */

  display: flex;
  align-items: center;
  letter-spacing: 0.25px;

  color: #8998AC;}

.modal-filetime-title{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  letter-spacing: 0.4px;

  color: #8998AC;
}

.text-users-name{font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-right: 10px;


  color: #333333;}



.variants {
  display: flex;
  border: 1.2px solid #3B7CFF;
  min-width: 200px;
  margin: 15px 0;
  justify-content: space-between;
  color: #333333;
  border-radius: 4px;
  padding-left: 10px;
}