.file-info-container{
    display: flex;
    font-family: Montserrat;
    overflow: hidden;
    word-break: break-word;
}
.file-info-container > div > p:last-child{
    color: #8998AC;
}
.file-row-info{
    display: flex;
    margin: 50px 0 50px 38px;
    justify-content: space-between;
}
.result-option{
    margin-top: 18px;
    width: 100%;
}
.result-option-text-container{
    display: flex;
    justify-content: space-between;
}
.result-option-variant{
    margin-bottom: 6px;
    font-weight: 500;
}
.result-option-percentage{
    font-weight: 600;
}
.result-icon{
    width: 24px;
    position: absolute;
    top: 92px;
    left: 30px;
}
.voting-results-title{
    max-width: 250px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    font-family: Montserrat;
    color: #8998AC;
}
.voting-results-data{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #8998AC;
}
.voting-results{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.4px;
    color: #333333;
}
.voting-results-number{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 132%;
    text-align: right;
    color: #8998AC;
}
.modal-voting-results .ant-modal-confirm-btns{
    display: none;
}
.modal-footer-hiden-button{
    display: none;
}
.modal-close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
